<div class="center jumbotron">
  <h1>Welcome to Pool Hub</h1>

  <%= link_to "Create Account", signup_path, class: "btn btn-black" %>
</div>

<div class="row">
  <div class="col-md-6">
  <h3>New Videos</h3>
    <ul class="users">
      <% @videos.first(Settings.lines_per_page).each do |video| %>
        <li>
          <%= image_tag(video.thumbnail_img) %>
          <%= link_to video.title, video.url %>
          <p>
          <%= video.description %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
  <h3>Current Events Videos</h3>
    <ul class="users">
      <% @videos.last(Settings.lines_per_page).each do |video| %>
        <li>
          <%= image_tag(video.thumbnail_img) %>
          <%= link_to video.title, video.url %>
          <p>
          <%= video.description %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>

</div>